@font-face {
  font-family: "Reactor";
  src: local("Reactor"),
  url("./fonts/Reactor_Sans_Regular.ttf") format("truetype");
  font-weight: bold;
}

html {
  font-size: 10px;
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
}

h1,h2{
  font-family: Reactor;
}